<div class="onboarding-container">

  <div class="onboaring-list">
    <div class="onboarding-item" id="secure_experience">
      <img class="main-img" src="images/secure-bg.png">
      <img class="lines" src="images/lines.png">
      <div class="title">Secure Experience</div>
      <div class="description">Only you have access to your coins in the Mobilechain wallet</div>
    </div>
    <div class="onboarding-item" id="best_way_experience">
      <img class="main-img" src="images/best-way-bg.png">
      <img class="lines" src="images/lines.png">
      <div class="title">The Best Way to Invest</div>
      <div class="description">Get the best rates and low fees when you buy crypto</div>
    </div>
    <div class="onboarding-item" id="payments">
      <img class="main-img" src="images/payments-bg.png">
      <img class="lines" src="images/lines.png">
      <div class="title">Payments in a Snap</div>
      <div class="description">Using your phone number,  it’s super simple to: Send Money to any Phone Request Money from any Phone</div>
    </div>
  </div>

  <div class="take-tour-btn" onclick="goNextSlide()">next</div>
  <div class="power-by">Powered by <img src="images/logo-mobilechain-white@3x.png"></div>
</div>