<div class="welcome-container">
  <div class="back-btn" onclick="">
    <img src="images/back@3x.png">
  </div>
  <img class="lines" src="images/lines@3x.png">
  <img class="main-logo" src="images/mc-logo@3x.png">
  <div class="title">
    Welcome to Your  New Wallet
  </div>
  <div class="description">
    Make crypto transactions safely, easily, and instantly….all inside this app.
  </div>
  <div class="icons">
    <img id="bitcoin_green" src="images/bch@3x.png">
    <img id="bitcoin_orange" src="images/btc@3x.png">
    <img id="diamond" src="images/eth@3x.png">
    <img id="dash" src="images/dash@3x.png">
  </div>
  <div class="skip-btn">Skip to Setup</div>
  <a class="take-tour-btn" onclick="goTo('onboarding.html')">take the tour</a>
  <div class="power-by">Powered by <img src="images/logo-mobilechain-white@3x.png"></div>
</div>