<div class="welcome-container">
  <div class="back-btn" onclick="">
    <img src="images/drawable-xhdpi/back.png">
  </div>
  <img class="lines" src="images/drawable-xhdpi/lines.png">
  <div class="main-logo"></div>
  <div class="title">
    Welcome to Your  New Wallet
  </div>
  <div class="description">
    Make crypto transactions safely, easily, and instantly….all inside this app.
  </div>
  <div class="icons">
    <img id="bitcoin_green" src="images/drawable-xxhdpi/bch.png">
    <img id="bitcoin_orange" src="images/drawable-xxhdpi/btc.png">
    <img id="diamond" src="images/drawable-xxhdpi/eth.png">
    <img id="dash" src="images/drawable-xxhdpi/dash.png">
  </div>
  <div class="skip-btn">Skip to Setup</div>
  <div class="take-tour-btn">take the tour</div>
  <div class="power-by">Powered by <img src="images/drawable-xxhdpi/logo_mobilechain_white.png"></div>
</div>